<extend name="base" />
<block name="content">
<div class="content self-content right">
						<div  class="content-head">
							<h3  class="title">我的订单</h3>
						</div>
						<div class="content-body myorder-body">
							<div class="myorder-table">
								<div class="table-th  clearfix">
									<ul>
										<li class="th myorder-info">订单信息</li>
										<li class="th myorder-count">数量</li>
										<li class="th myorder-sum">总价</li>
										<li class="th myorder-status">状态</li>
									</ul>
								</div>
								<div class="table-body">
									<ul>
										<li class="myorder-item">
											<div class="item-head">
												<div class="myorder-info">
													<time datatime="2014-05-24">2014-05-24</time>
													<span  class="myorder-number">订单号：2012093230</span>
												</div>
												<div class="myorder-status">
													<a href="#" class="dcz-icon icon-cancel"></a>
												</div>
											</div>
											<div class="item-body">
												<div class="td myorder-info">
													<div class="info-img">
														<img src="__PUBLIC__/Home/images/user-avatar.jpg" alt="">
													</div>
													<div class="info-text">
														<p>帝光大学篮球馆</p>
														<p>篮球场1号场地</p>
														<p>2月1日（周日）8:00-9:00</p>
														<p>接收短信手机号:15123232343</p>
													</div>
												</div>
												<div class="td myorder-count">2</div>
												<div class="td myorder-sum">￥12000</div>
												<div class="td myorder-status">
													<a href="#" class="dcz-btn btn-primary btn-sm">立即付款</a>
													<a href="#" class="dcz-btn">取消订单</a>
												</div>
											</div>
										</li>
										<li class="myorder-item">
											<div class="item-head">
												<div class="myorder-info">
													<time datatime="2014-05-24">2014-05-24</time>
													<span  class="myorder-number">订单号：2012093230</span>
												</div>
												<div class="myorder-status">
													<a href="#" class="dcz-icon icon-cancel"></a>
												</div>
											</div>
											<div class="item-body">
												<div class="td myorder-info">
													<div class="info-img">
														<img src="__PUBLIC__/Home/images/user-avatar.jpg" alt="">
													</div>
													<div class="info-text">
														<p>帝光大学篮球馆</p>
														<p>篮球场1号场地</p>
														<p>2月1日（周日）8:00-9:00</p>
														<p>接收短信手机号:15123232343</p>
													</div>
												</div>
												<div class="td myorder-count">2</div>
												<div class="td myorder-sum">￥12000</div>
												<div class="td myorder-status">
													<a href="#" class="dcz-btn btn-primary btn-sm">立即付款</a>
													<a href="#" class="dcz-btn">取消订单</a>
												</div>
											</div>
										</li>
										<li class="myorder-item">
											<div class="item-head">
												<div class="myorder-info">
													<time datatime="2014-05-24">2014-05-24</time>
													<span  class="myorder-number">订单号：2012093230</span>
												</div>
												<div class="myorder-status">
													<a href="#" class="dcz-icon icon-cancel"></a>
												</div>
											</div>
											<div class="item-body">
												<div class="td myorder-info">
													<div class="info-img">
														<img src="__PUBLIC__/Home/images/user-avatar.jpg" alt="">
													</div>
													<div class="info-text">
														<p>帝光大学篮球馆</p>
														<p>篮球场1号场地</p>
														<p>2月1日（周日）8:00-9:00</p>
														<p>接收短信手机号:15123232343</p>
													</div>
												</div>
												<div class="td myorder-count">2</div>
												<div class="td myorder-sum">￥12000</div>
												<div class="td myorder-status">
													<a href="#" class="dcz-btn btn-primary btn-sm">立即付款</a>
													<a href="#" class="dcz-btn">取消订单</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>


							<div class="content-page">
								<ul class="page-list clearfix">
									<li  class="page-item prev"><a href="#"  class="dcz-btn btn-empty">上一页</a></li>
									<li class="page-item"><a href="#">1</a></li>
									<li class="page-item"><a href="#">2</a></li>
									<li class="page-item hover"><a href="#">3</a></li>
									<li class="page-item"><a href="#">4</a></li>
									<li class="page-item"><a href="#">5</a></li>
									<li class="page-item"><a href="#">6</a></li>
									<li class="page-item"><a href="#">7</a></li>
									<li class="page-item"><a href="#">8</a></li>
									<li class="page-item"><a href="#">9</a></li>
									<li  class="page-item next"><a href="#" class="dcz-btn btn-empty">下一页</a></li>
								</ul>
							</div>
						</div>

					</div> <!-- self-content end -->
				</block>