
/*通用组开始 */
.mod-dropdownlist {
    display: inline-block;
}
.mod-dropdownlist .dropdown-select {
    /*background: #81D7B0;*/
    /*border: 1px solid #d9d9d9;*/
    color: #FFF;
    cursor: default;
    display: inline-block;
    *display: inline;
    height: 68px;
    line-height: 68px;
    overflow: hidden;
    *zoom: 1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 14px;
    border-radius:2px;
    border-radius:34px 0 0 34px;
}

.mod-dropdownlist .dropdown-select .dropdown-input {
    /*border-right: 1px solid #ededed;*/
    /*padding: 0 10px;*/
    zoom: 1;
    overflow: hidden;
    font-size: 20px;
    line-height: 68px;
    float: left;
    height: 68px;
    transition:all 0.5s ease;
}
.mod-dropdownlist .dropdown-select .dropdown-input .dcz-icon{
    float:left;
}
.mod-dropdownlist .dropdown-select .dropdown-icon {
    background: transparent url('../icons/slide-down.png') center center no-repeat;
    /*border-left: 1px solid #fff;*/
    width: 30px;
    padding: 0 0;
    zoom: 1;
    font-size: 14px;
    line-height: 68px;
    float: left;
    height: 68px;
}
/*.mod-dropdownlist .dropdown-select:hover .dropdown-icon {
    background: transparent url(icon_dropdown_hover.gif) center center no-repeat;
}*/
.mod-dropdownlist .dropdown-list {
    background: #fff;
    border-left: 1px solid #3ec286;
    border-right: 1px solid #3ec286;
    display: block;
    overflow: hidden;
    padding:0;
}
.mod-dropdownlist .dropdown-options {
    background: #fff;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    padding:0;
    margin: 0;
    position:relative;
    z-index:9999;
    
}
.mod-dropdownlist .dropdown-options li {
    margin: 0;
    padding: 0;
}
.mod-dropdownlist .dropdown-options li a {
    color: #666;
    cursor: default;
    display: block;
    /*padding: 0 10px;*/
    white-space: nowrap;
    /*width: 120%;*/
    font-size: 14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.mod-dropdownlist .dropdown-options li  .dcz-icon{
    float:left;
}
.mod-dropdownlist .dropdown-options li a:hover {
    background-color: #eee;
    color: #666;
}
.mod-dropdownlist .dropdown-options li.dropdown-options-focus a,
.mod-dropdownlist .dropdown-options li.dropdown-options-focus a:hover{
    background-color: #B2E5C6;
    color:#fff;
}
.mod-dropdownlist .dropdown-list .dropdown-custombox {
    border-top: 1px solid #ccc;
}

.select-container{
    padding:5px 0 5px 5px;
    width:177px;
}
.select-container:after{
    display:none;
}